<!--Main code from 23/4 class-->
<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Characters</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

    <ion-searchbar placeholder="Search Breaking Bad Characters" (ionChange)="onSearchChange($event)"></ion-searchbar>

    <ion-list>
        <ion-item button detail lines="inset" *ngFor="let character of characters | async" (click)="openDetails(character)">
        {{ character.name }}
        </ion-item>
    </ion-list>

    <!--Infinite scroll markup - REF https://www.youtube.com/watch?v=Nc1RqvDY-B8&feature=youtu.be-->
    <ion-infinite-scroll (ionInfinite)="loadBBCharacters(true, $event)" #selectScroll>
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more Breaking Bad characters ...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>
