<!--general page markup from 23/4 class-->
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" defaultHref="/tabs/quotes">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ quote?.series }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="unfavoriteepisode()" *ngIf="isFavorite">
        <ion-icon name="star" slot="icon-only" color="secondary"></ion-icon>
      </ion-button>
      <ion-button (click)="favoriteepisode()" *ngIf="!isFavorite">
        <ion-icon name="star-outline" slot="icon-only" color="secondary"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-card *ngIf="quote" class="movie-card">
    <ion-card-header>Author: {{ quote.author }}</ion-card-header>
    <ion-card-content>
      <!--{{ episode.season }}-->
      @TODO Some random text
    </ion-card-content>
    <ion-item class="movie-info" lines="none">
      <ion-icon name="quote" slot="start"></ion-icon>
      Series: {{ quote.series }}
    </ion-item>
    <ion-item class="movie-info" lines="none">
      <ion-icon name="quote" slot="start"></ion-icon>
      Quote: {{ quote.quote }}
    </ion-item>    
  </ion-card>
</ion-content>

