<!--general page markup from 23/4 class-->
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" defaultHref="/tabs/quotes">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ quote?.author }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-card *ngIf="quote" class="movie-card">
    <ion-card-header>Series: {{ quote.series }}</ion-card-header>
    <ion-card-content>
    </ion-card-content>
    <ion-item class="movie-info" lines="none" style="padding:16px">
      <ion-icon name="mic-outline" slot="start"></ion-icon>
      Quote: {{ quote.quote }}     
    </ion-item>
    <ion-item class="movie-info" lines="none" style="padding:16px">
      <ion-icon name="clipboard-outline" slot="start"></ion-icon>    
      Author: {{ quote.author }}
    </ion-item>   
  </ion-card>
</ion-content>

