<!--general page markup from 14/4 class-->

<ion-tabs>
	<ion-tab-bar slot="bottom">
		<ion-tab-button tab="episodes">
			<ion-icon name="aperture-outline"></ion-icon>
			<ion-label>Episodes</ion-label>
		</ion-tab-button>
		<ion-tab-button tab="characters">
			<ion-icon name="finger-print-sharp"></ion-icon>
			<ion-label>Characters</ion-label>
		</ion-tab-button>
		<ion-tab-button tab="quotes">
			<ion-icon name="recording-outline"></ion-icon>
			<ion-label>Quotes</ion-label>
		</ion-tab-button>
		<ion-tab-button tab="deaths">
			<ion-icon name="person-remove-outline"></ion-icon>
			<ion-label>Deaths</ion-label>
		</ion-tab-button>
	</ion-tab-bar>
</ion-tabs>
