<!--general page markup from 14/4 class-->
<!--additional code provided by Mikhail on 23/4-->
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" defaultHref="/tabs/episodes">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ episode?.title }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="unfavoriteepisode()" *ngIf="isFavorite">
        <ion-icon name="star" slot="icon-only" color="secondary"></ion-icon>
      </ion-button>
      <ion-button (click)="favoriteepisode()" *ngIf="!isFavorite">
        <ion-icon name="star-outline" slot="icon-only" color="secondary"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-card *ngIf="episode" class="movie-card">
    <ion-card-header>Episode # {{ episode.episode }} of Breaking Bad Season # {{ episode.season }}</ion-card-header>
    <ion-card-content>
    </ion-card-content>
    <ion-item class="movie-info" lines="none" style="padding:16px">
      <ion-icon name="clipboard-outline" slot="start"></ion-icon>
      Breaking Bad Season # {{ episode.season }}<br/>      
      Episode # {{ episode.episode }}<br/>
      Title: {{ episode.title }}
    </ion-item>
    <ion-item class="movie-info" lines="none" style="padding:16px">
      <ion-icon name="body-outline" slot="start"></ion-icon>
      Characters: {{ episode.characters }}
    </ion-item>    
    <ion-item class="movie-info" lines="none" style="padding:16px">
      <ion-icon name="calendar" slot="start"></ion-icon>
      Release Date: {{ episode.air_date }}
    </ion-item>
  </ion-card>
</ion-content>
